<h1 class="text-success">рџ‘ЁвЂЌвљ•пёЏ Doctor Dashboard</h1>

<a href="/Appointments" class="btn btn-primary m-2">My Appointments</a>
<a href="/Patients" class="btn btn-success m-2">My Patients</a>
<a href="/Prescription" class="btn btn-danger m-2">Prescription</a>