<h1 class="text-info">🧑 Patient Dashboard</h1>

<a href="/Appointments/Create" class="btn btn-primary m-2">Book Appointment</a>
<a href="/Bills" class="btn btn-success m-2">My Bills</a>
<a href="/History" class="btn btn-danger m-2">Medical History</a>